<!DOCTYPE html>
<html>
<head>
    <style>
        body {
      background-color: #87CEFA;
      font-family: Arial;
      padding: 20px;
        }
        h1,h2{
            color:red
        }
        h3{
            color:red
        }
    </style>
    <h1>Transaction has got deleted off the LedgerX</h1>
    <h2>restart the website to continue</h2>
    <a href="https://my-income-tracker.onrender.com">click here</a>
    <h3>to go back to the LedgerX website</h3>
</head>
</html>
